<h1>Calculadora</h1>

<div class="calculadora">
    <input class="res-favoravel" placeholder="Número de Resultados Favoráveis" [(ngModel)]="num1" type="text"> <br>
    <input class="res-possiveis" placeholder="Número de Resultados Possíveis" [(ngModel)]="num2" type="text">
    <br><br>
    <div class="button">
        <button type="button" (click)="operacao()">Dividir</button>
    </div>
    <br><br>
    <input class="res-final" type="text" placeholder="P(A)" [value]="resposta" disabled>
</div>

<form>
    <div class="tabela">
      <table class="table">
        <thead>
          <tr>
            <th>Resultado Favorável</th>
            <th>Resultado Possível</th>
            <th>Resultado Final</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let calculo of historico">
              <td>{{ calculo.num1 }}</td>
              <td>{{ calculo.num2 }}</td>
              <td>{{ calculo.resposta }}</td>
            </tr>
          </tbody>         
      </table>
    </div>
  </form>
